.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
button{
  margin-top: 10%;
}
button#bnb-button{
margin-top: 5%;
 margin-right:5%;
}
button#btc-button{
margin-right: 5%;
}
label#label-alts{
  margin-right:2%
}
select#currency-picker{
margin-right: 5%;
}
input#input-pair{
  margin-top: 5%;
}
label#label-change{
  margin-left:2%
}
input#radiobutton-change{
  margin-left: 5%;
}
label#label-volume{
  margin-left:2%
}
input#radiobutton-volume{
  margin-left: 5%;
}
div#ag-grid-table-all-currency{
  margin-left:25%;
  margin-top: 5%;
}

